.profile{
    width: 332px;
    height: 250px;
    padding: 2px;
    margin: 1px;

}

/* .contact-f{    // the hole 4 come in same line
    background-color:black;
    color: white;
    margin: 2px;
    padding: 2px;
    display: flex;
} */
.contact-o{
    background-color:black;
    color: white;
    margin: 2px;
    padding: 2px;
    display: flex;
}
.contact-b{
    background-color:black;
    color: white;
    margin: 2px;
    padding: 2px;
    display: flex;
}